$color--black: #202021;
$color--white: #F7F7F7;
$color--lightGray: #bababa;
$color--darkGray: #4f4f4f;
$color--info: #48C5FC;
$color--success: #37B661;
$color--warning: #DD9913;
$color--error: #E25650;
$color--primary: #3F51B5;
$color--secondary: #FFC107;

$font-scale--xxs: 0.25rem;
$font-scale--xs: 0.5rem;
$font-scale--s: 0.8rem;
$font-scale--m: 1rem;
$font-scale--l: 1.2rem;
$font-scale--xl: 1.6rem;
$font-scale--xxl: 2rem;
$font-scale--xxxl: 3rem;
